.vs
*~
*.bak
temp
bin/
obj/
packages/
Language Explorer/
NUnit-2.6.4/
NUnit-2.6.4.zip
*.lock
XLingPaperPDFTemp/
UserDocumentation.css
UserDocumentation.htm
*.csproj.user
GenerateHCConfig4FLExTransTest/
RegressionTests/
results.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.pytest_cache/
